//out: ../www/css/main.css

@import "battery.less";
@import "signal-strength.less";

@bgcol: #333;

*{

	box-sizing: border-box;
	// font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #eee;
	// font-family: "Segoe Print";
	//font-family: "Monotype Corsiva";
}

body {
	
	margin:0;
	background-color: @bgcol;
	// background-image: url("/img/bg2.jpg");
	background-size: 200px;
	font-size: 16px;
	//font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button{
	background-color: #222;
	padding: 0.5em 0.8em;
	font-size: 1.3em;
	border: 1px solid #777;
	border-radius: 5px;
	cursor: pointer;
	&:hover{
		background-color: #333;
	}
	&:active{
		background-color: #555;
	}
}

.view{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: start;	
	width: 100vw;
	height: 100vh;
	.central{
		padding: 1em;
		border-radius: 5px;
		display: flex;
		flex-direction: column;
		align-items: center;
		.message{
			text-align: center;
		}
	}
	&.centered{
		justify-content: center;		
	}
}



.over{
	.view;
	.centered;
	background-color: @bgcol;
	position: absolute;
	padding: 0 1em;
	
}


.preloader {
	.over;
	.central{
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 200px;
		.message{
			margin-bottom: 3em;
			font-size: 1.5em;
		}
	}
}

.error {
	.over;
	top: 0px;
	left: 0px;
	background-color: fade(#000,50%);
	.central{
		background-color: #a00;
		.message{
			margin-bottom: 1.9em;
			// font-size: 1.5em;
		}
		.buttons{
			display: flex;
			flex-direction: column;
			align-items: stretch;
			width: 250px;
			button {
				margin-bottom: 0.5em;
				font-size: 1em;
			}
		}
	}
}

.bottom_popup(@col){
	.over;
	height: auto;
	top: auto;
	bottom: 1em;
	// @col: #c70;
	.central{
		border: 1px solid @col;
		background-color: fade(@col,50%);
		flex-direction: row;
		justify-content: center;
		.message{
			margin-right: 1em;
			font-size: 1em;
			
		}
		.buttons{
			display: flex;
			button {
				margin-right: 0.5em;
				background-color: darken(@col,20%);
				font-size: 1em;
			}
		}
	}
}

.warn{
	.bottom_popup(#c70)
}

.notify{
	.bottom_popup(#085)
}


@import "device.less";
@import (inline) "loader1.css";