
.icon-power:before { content: '\e800'; } /* '' */
.icon-block:before { content: '\e800'; } /* '' */
.icon-cog:before { content: '\e801'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
