<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<title>PRINT PCB</title>
<link rel="stylesheet" href="style.css">
<script type="text/javascript" src="jquery.js"></script>
<script src="vue.js"></script>
<!-- <script src="exif.js"></script> -->
<script>
const cl = console.log;
Vue.component('app',{
	data(){return{
		imblocks: [],
		images: [],
		active_block: 0
	}},
	created(){
		
		if(localStorage.pcbprint_save)
		{
			let save = JSON.parse(localStorage.pcbprint_save);
			for(let im of (save.images || []))
			{
				this.images.push(im);
			}
			for(let b of (save.imblocks || []))
			{
				this.imblocks.push(b);
			}
		}

		window.onkeydown = ev => {
			if(ev.code=='KeyR')
				this.rotate();
			else if(ev.code=='Delete')
				this.delete();
		}
	},
	methods: {
		loadFile(ev)
		{
			let file = ev.target.files[0];
			let reader = new FileReader();
			reader.onload = ()=>{
				let im = new Image();
				im.onload = ()=>{
					this.images.push({
						id: Date.now(),
						name: file.name,
						img: reader.result,
						natdim: [im.naturalWidth, im.naturalHeight],
						dpi: 600
					});
					this.save(file);
				}
				im.onerror = ()=>{
					alert('Could not load file '+file.name+' as image');
				}
				im.src = reader.result;
			}
			reader.readAsDataURL(file);
		},

		save(){
			let save = {}
			for(let k of ['images','imblocks'])
				save[k] = this[k];
			localStorage.pcbprint_save = JSON.stringify(save);
		},

		delImage(id)
		{
			if(!confirm('OK to delete?'))
				return;
			this.images = this.images.filter(v => v.id != id);
			this.imblocks = this.imblocks.filter(v => v.imid != id);
			this.save();
		},

		placeImage(id)
		{
			let im = this.images.find(v => v.id==id);
			if(!im)return;
			this.imblocks.push({
				id: Date.now(),
				imid: im.id,
				top: 100,
				left: 100,
				rotation: 0,
				pivot: [0,0]
			})
			this.save();
		},

		setImgParam(id,name,val)
		{
			let im = this.images.find(v => v.id==id);
			if(!im)return;
			im[name] = val;
			this.save();
		},
		getImgParam(id,name,val)
		{
			let im = this.images.find(v => v.id==id);
			return im ? im[name] : null;
		},
		
		setDPI(ev,id)
		{
			this.setImgParam(id,'dpi',ev.target.value);
		},
		blockClick(bl,ev)
		{
			if(this.active_block != bl.id)
				this.active_block = bl.id;
			else{
				this.active_block = 0;
				this.save();
			}
			this.dragOffset = [ev.layerX,ev.layerY];
		},
		mouseMove(ev)
		{
			cl(ev)
			//cl(this.active_block)
			let b = this.getActiveBlock();
			if(!b)return;
			let rect = this.$refs.sheet.getBoundingClientRect();
			cl(rect)
			b.left = ev.clientX-rect.left-this.dragOffset[0];
			b.top = ev.clientY-rect.top-this.dragOffset[1];
		},
		getActiveBlock()
		{
			if(!this.active_block)return null;
			let b = this.imblocks.find(v => v.id==this.active_block);
			if(!b)
			{
				this.active_block = 0;
				return null;
			}
			return b;
		},
		rotate()
		{
			cl('Rotate')
			let bl = this.getActiveBlock();
			if(!bl)return;
			bl.rotation = ((bl.rotation+90)%360)-180;
			
			this.save();
		},
		delete()
		{
			cl('Delete')
			let bl = this.getActiveBlock();
			if(!bl)return;
			this.imblocks = this.imblocks.filter(v => v.id != bl.id);
			this.save();
		},

		getBlockStyle(b)
		{
			return {
				top: b.top+'px', 
				left: b.left+'px', 
				
			}
		},
		getBlockImgStyle(b)
		{
			let im = this.images.find(v => v.id==b.imid);
			if(!im)return null;
			return {
				width: (im.natdim[0]/im.dpi)+'in',
				height: (im.natdim[1]/im.dpi)+'in',
				transform: 'rotate('+b.rotation+'deg)',
				transformOrigin: '50% 50%'
				
			}
		},
	},
	template: `
		<div>
			<div class="sheet" @mousemove="mouseMove">
				<div ref="sheet">
					<div class=imblock v-for="b in imblocks"
						:style="getBlockStyle(b)"
						:class="{active:active_block==b.id}"
						@click="blockClick(b,$event)"
						>
						<img :src="getImgParam(b.imid,'img')" :style="getBlockImgStyle(b)">
					</div>
				</div>
			</div>
			<div class="rcol">
				<div class="imlist">
					<div class="im" v-for="im in images">
						<div class="thumb" :style="{backgroundImage: 'url('+im.img+')'}"></div>
						<div class="controls">
							<b>{{im.name}}</b>
							<label><input type=number :value="im.dpi" @change="setDPI($event,im.id)"> dpi</label>
							<a @click="placeImage(im.id)">Place</a>
							<a @click="delImage(im.id)">Delete</a>
						</div>
					</div>
				</div>
				<input type=file @change=loadFile />
			</div>
		</div>
	`	
})

//app.mount('.rcol');

</script>
<script>

</script>
<script type="text/javascript">

$(()=>{
	let app = new Vue({
		el: '#app'
	})
})

</script>
</head>
<body style="">
	<div id="app">
		<app></app>
	</div>
</body>
</html>
