<html>
<head>
</head>
<body>
<script type="text/javascript" src="vue.js"></script>
<script type="text/javascript">

const patterns = [
	[2],[3],[2,2],[5],[2,3],[7],[2,2,2],[3,3],[2,5],[11],
	[2,2,3],[13],[2,7],[3,5],[2,2,2,2],[2,3,3],[2,2,5],
	[3,7],[2,2,2,3],[5,5],[3,3,3],[2,2,7],[2,3,5],
	[2,2,2,2,2],[5,7],[2,2,3,3],[2,2,2,5],
	[2,3,7],[3,3,5],[7,7],[2,5,5],
	[2,3,3,3],[2,2,2,7],[2,2,3,5],
	[2,2,2,2,2,2],[2,5,7]
]

const fm_stations = [87.50,88.00,88.40,88.90,89.30,89.70,90.10,90.60,91.10,91.50,92.00,92.40,92.90,93.30,94.10,95.00,95.50,95.70,95.90,97.00,98.60,99.00,100.10,100.50,100.90,101.40,102.00,102.40,102.80,103.40,103.70,104.00,104.40,104.80,105.30,105.90,106.30,107.00,107.40,107.80];
const fm_range = [87.5,108.0];
const bands = [
[144.000000, 144.035000, "2m", "Только для EME: CW (телеграф)."],
[144.035000, 144.110000, "2m", "Только для EME и МС. CW (телеграф) – вызывная частота 144,05 МГц. Связи без предварительной договоренности 144,100 МГц."],
[144.110000, 144.150000, "2m", "Только для EME: Цифровые узкополосные виды, (JT65 144,120-144,150 МГц). CW (телеграф), ПСК31 вызывная частота – 144,138 МГц"],
[144.150000, 144.165000, "2m", "Только для EME: CW (телеграф), SSB (однополосная)."],
[144.165000, 144.180000, "2m", "Все цифровые виды, CW (телеграф)."],
[144.180000, 144.360000, "2m", "SSB (однополосная) – вызывные 144,200 МГц и 144,300 МГц, CW (телеграф). Только для МС: SSB (однополосная) (связи без предварительной договоренности – 144,195-144,205), CW (телеграф)."],
[144.360000, 144.400000, "2m", "Все цифровые виды, SSB (однополосная), CW (телеграф). Только для МС: все цифровые виды – вызывная частота 144,370 МГц, SSB (однополосная), CW (телеграф)."],
[144.400000, 144.490000, "2m", "Только маяки (телеграфия и цифровые)."],
[144.500000, 144.794000, "2m", "Все цифровые виды, SSTV (передача изображений) – 144,500 МГц, телетайп – 144,600 МГц, факс – 144,700 МГц, АТВ – 144,525 и 144,750 МГц, дуплекс: (144,630-144,660 МГц передача, 144,660-144,690 МГц прием), автоматические цифровые станции."],
[144.794000, 144.990000, "2m", "Цифровые виды, APRS (автоматическая система позиционирования станций) – частота 144,800 МГц."],
[144.990000, 145.194000, "2m", "Только для ретрансляторов: ЧМ (частотная) – прием (шаг 12,5 кГц)."],
[145.194000, 145.206000, "2m", "ЧМ (частотная), космическая связь."],
[145.206000, 145.594000, "2m", "ЧМ (частотная) – вызывная частота 145,500 МГц, ретрансляторы ранее записанных сообщений (шаг 12,5 кГц). Станциям радиолюбительской аварийной службы рекомендуется использовать частоту 145,45 МГц. Работа ретрансляторов ранее записанных сообщений на частоте 145,45 МГц и 145,5 МГц запрещается."],
[145.594000, 145.793500, "2m", "Только для ретрансляторов: ЧМ (частотная) – передача (шаг 12,5 кГц)."],
[145.793500, 145.806000, "2m", "ЧМ (частотная) – только для работы через спутники."],
[145.806000, 146.000000, "2m", "Все виды – только для работы через спутники."],


// 430.000–432.000 ретрансляторы, пакетное радио
// 432.000–432.100	CW
// 432.100–432.400	CW и SSB
// 432.400–432.490	CW-маяки
// 432.500–432.600	выходы линейных ретрансляторов
// 432.600–432.800	входы линейных ретрансляторов
// 432.800–435.000	все режимы работы
//     любительское радио и тв, ретрансляторы, RTTY
//     ретрансляторы
//     SSTV 433.400 МГц
//     RTTY[англ.] 433.300 МГц
//     DMR 433.450 МГц

// 435.000–438.000 	радиолюбительские спутники[англ.]
// 438.000–440.000 	

//     ретрансляторы
//     пакетное радио
//     439,9875 МГц DAPNET (пейджер, POCSAG)

]


window.onload = ()=>{
let app = new Vue({
	el: '#app',
	data: {
		input: '27',
		mode: 'xtal',
		use_2: true,
		use_3: true,
		use_5: true,
		use_7: true,
		use_9: true
	},
	methods: {
		getFreqsByXtal: function(){
			let out = [];
			for(let p of this.filterPatterns())
			{
				let f = +this.input;
				for(let mul of p)
					f *= mul;

				let nearest_fm = null;
				let fm_distance = null;
				let nearest_distance = Infinity;
				if(f >= fm_range[0] && f <= fm_range[1])
				{
					for(let ffm of fm_stations)
					{
						fm_distance = Math.abs(ffm-f);
						if(fm_distance < nearest_distance)
						{
							nearest_fm = ffm;
							nearest_distance = fm_distance;
						}
					}
				}

				let bgcolor = '';
				if(nearest_fm)
				{
					if(nearest_distance < 0.2)bgcolor = '#f00';
					else if(nearest_distance < 0.4)bgcolor = '#f00';
				}

				let bgcol = nearest_fm ? (nearest_distance < 0.09 ? '#f00' : (nearest_distance < 0.29 ? '#fa0' : (nearest_distance < 0.39 ? '#ff0' : '#0f0'))) : '';

				out.push({
					freq: f.toFixed(3),
					multipliers: p.map(v => ' x <b>'+v+'</b>').join(''),
					nearest: nearest_fm ? nearest_fm+' ('+nearest_distance.toFixed(2)+')' : '',
					style: {background: bgcol}
				})
			}
			return out;
		},
		getXtalsByFreq: function()
		{
			let out = [];
			for(let p of this.filterPatterns())
			{
				let f = +this.input;
				for(let mul of p)
					f /= mul;

				out.push({
					freq: f.toFixed(3),
					multipliers: p.map(v => ' x <b>'+v+'</b>').join('')
				})
			}
			return out;
		},
		filterPatterns: function(){
			return patterns
			// return patterns.filter(p => !(
			// 	!this.use_2 && p.includes(2) ||
			// 	!this.use_3 && p.includes(3) ||
			// 	!this.use_5 && p.includes(5) ||
			// 	!this.use_7 && p.includes(7) ||
			// 	!this.use_9 && p.includes(9)
			// ))
		}
	},
	computed: {
		items: function(){
			return this.mode=='xtal' ? this.getFreqsByXtal() : this.getXtalsByFreq();
		}
	}
});
}

</script>
<style media="screen">
*{
	font-family: Consolas;
}
label,input,select{
	font-size: 30px;
}

.list>div{
	font-size: 24px;
	border-bottom: 1px solid #ddd;
	--padding: 10px 0;
}

.list>div>b{
	display: inline-block;
	width: 100px;
}

.muls>b{
	color: green
}

.muls{width: 200px;display: inline-block;}

</style>

<div id=app>
	<div class=inputs>
		<select v-model="mode">
			<option value=xtal>XTAL freq.:</option>
			<option value=res>Result freq.:</option>
		</select>
		<input v-model=input>
		
		<!-- Use multipliers:
		<label><input type=checkbox v-model="use_2">2 </label>
		<label><input type=checkbox v-model="use_3">3 </label>
		<label><input type=checkbox v-model="use_5">5 </label>
		<label><input type=checkbox v-model="use_7">7 </label>
		<label><input type=checkbox v-model="use_9">9 </label> -->
	</div>
	<div class=list>
		<div v-for="item of items" :style=item.style>
			<b v-html="item.freq"></b>
			<span class=muls v-html="item.multipliers"></span>
			<span class=nears v-html="item.nearest || ''"></span>
		</div>
	</div>
</div>
</body>
</html>
