# Flash
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"

# WiFi AP поддержка
CONFIG_ESP_WIFI_SOFTAP_SUPPORT=y

# Логи: INFO уровень
CONFIG_LOG_DEFAULT_LEVEL_INFO=y

# Стек HTTP сервера
CONFIG_HTTPD_MAX_REQ_HDR_LEN=1024
